DJANGO_SECRET_KEY=aBzrHFCKiW7kABoeMxK9dsGa9aAXX6anRRsVHxSJ4__eW0C0qXeIB7sSLvnuKgBRsA4
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
USE_MYSQL=0

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=shop_erp
MYSQL_USER=root
MYSQL_PASSWORD=

# mysqlclient needs MySQL C Connector / MariaDB C client installed locally to build on some platforms.
